<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Trang Chủ
                </a>
                <div class="sb-sidenav-menu-heading">Addons</div>
                <a class="nav-link" href="@Url.Action("ThaoTacSua","Home")">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Thao Tác Sửa
                </a>
                <a class="nav-link" href="@Url.Action("VanBang","Home")">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Văn Bằng
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Đăng Nhập</div>
        </div>
    </nav>
</div>
